pyaudio
# Audio (choose one):
# pyaudio==0.2.11  # Uncomment if you resolve the build issue
sounddevice  # Alternative to pyaudio

PyQt5
wave
groq
pymupdf
pymupdf4llm
langgraph
langsmith
langchain-groq
streamlit
langgraph_sdk
streamlit_extras
sounddevice
pygame
